[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
lxml = {file = "https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/lxml-4.5.2-cp39-cp39-win_amd64.whl"}
wheel = "*"
twine = "*"
cloud-sptheme = "*"
sphinxcontrib-fulltoc = "*"

[packages]
pygame-colliders = {editable = true, path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
